<div class="centered-content">
  <div class="modal-box">
    <div class="example-container">
      <div class="d-flex">
      <h1 class="title text lt">Login</h1>
      <p class="title text lr" routerLink="/register">Register ?</p>
    </div>

        <mat-label>Enter Your Mail</mat-label>
      <mat-form-field appearance="fill" class="example-full-width">

        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          required/>
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>

      </mat-form-field>
      <mat-label>Enter your password</mat-label>
      <mat-form-field appearance="fill" class="example-full-width">

        <input matInput   placeholder="****" [type]="hide ? 'password' : 'text'" [formControl]="password" required/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getPErrorMessage()}}</mat-error>

      </mat-form-field>
      <button mat-button  class="search login example-full-width" >login</button>
    </div>
  </div>
</div>
