



.search {
  background: linear-gradient(to right top, #673ab7, green);

  color: #fff;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
